[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==4.2.11"
scikit-learn = "==1.4.1.post1"
pandas = "==2.2.1"
numpy = "==1.26.4"
django-bootstrap-v5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
