body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
h1 {
    margin-bottom: 50px;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}